* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: auto;
}
ul {
  padding-left: 0;
}
li {
  text-align: center;
  padding-left: 50px;
  list-style-type: none;
}
